<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tournament | <%= title%></title>
</head>
<body>
<%- include('./partials/nav.ejs') %>
<article>
    <div>
        <h1><%= tournament.Name %></h1>
        <span><%= tournament.about %></span>
        <span><%= tournament.createdAt.toLocaleDateString() %></span>
        <a href="/edit/<%= tournament.id%>">Edit</a>
        <button data-id="<%= tournament.id%>">
            <i data-id="<%= tournament.id%>">Delete</i>
        </button>
    </div>
</article>
<script>
    document.addEventListener('click', (e) => {
        const id = e.target?.dataset?.id || null;
        if (id) {
            fetch(`/tournaments/${id}`, {
                method: "DELETE"
            })
                .then(() => {
                    window.location.href = '/tournaments';
                })
        }
    })
</script>
</body>
</html>