<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tournaments | <%= title %></title>
</head>
<body>
<%- include('./partials/nav.ejs') %>
<ul>
    <%if (tournaments.length) { %>
        <% tournaments.forEach(({id, Name, players, createdAt, about}) => { %>
            <li>
               <a href="/tournaments/<%= id%>"><%= Name %></a>
                <span><%= about %></span>
                <span><%= createdAt.toLocaleDateString() %></span>
                <button data-id="<%= id%>">
                    <i data-id="<%= id%>">delete</i>
                </button>
              <%  })%>
            </li>
    <% }%>
</ul>
<script>
    document.addEventListener('click', (e) => {
        const id = e.target?.dataset?.id || null;
        if (id) {
            fetch(`/tournaments/${id}`, {
                method: "DELETE"
            })
                .then(() => {
                    window.location.reload();
                })
        }
    })
</script>
</body>
</html>